
@{
    ViewBag.Title = "Employee Portal";
}

<head>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link href="~/Content/css/animate-custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <script src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/modernizr.custom.js"></script>
</head>

<!-- ==== PORTFOLIO ==== -->
<div class="container" id="contact" name="contact">
    <br>
    <h1 class="centered">Employee Portal</h1>
    <hr>
    <br>

    <div class="row">

        <!-- PORTFOLIO IMAGE 1 -->
        <div class="col-md-6">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="~/Content/img/calendar.gif" alt="">
                    <figcaption>
                        <h5>Test Schedule</h5>
                        <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">View sCalendar</a>
                    </figcaption><!-- /figcaption -->
                </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->
        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
        a modal for each of your projects. -->

        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-custom">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Test Schedule</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="https://docs.google.com/spreadsheets/d/1hctiwy1m4iV0pTQM8Z8xv0a1ZpPgG6rW8HiIdqD3rr0/edit?usp=sharing" class="iframe"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-6">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="~/Content/img/lab_experiment.gif" alt="">
                    <figcaption>
                        <h5>Update Orders</h5>
                        <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-lg">View Orders</a>
                    </figcaption><!-- /figcaption -->
                </figure><!-- /figure -->
            </div><!-- /grid-mask -->
        </div><!-- /col -->
        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
        a modal for each of your projects. -->

        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-tracking">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Orders Assigned to You</h4>
                    </div>

                    <div class="modal-body">
                        <!--Order Number, Date Test Submitted, Assay-->
                        <div id="demo" class="collapse">
                            <div class="row">
                                <h1 class="text-center">Test #1234</h1>
                                <div class="col-md-3">
                                    <h5 class="text-center">Work Order Recieved</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage()" name="pic" id="pic" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Materials Received</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage1()" name="pic1" id="pic1" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Testing in Progress</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage2()" name="pic2" id="pic2" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Testing is Complete</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage3()" name="pic3" id="pic3" /><br />
                                </div>
                            </div>
                            <br>
                        </div>

                        <div id="demo1" class="collapse">
                            <div class="row">
                                <h1 class="text-center">Test #1235</h1>
                                <div class="col-md-3">
                                    <h5 class="text-center">Work Order Recieved</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage()" name="pic" id="pic" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Materials Received</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage1()" name="pic1" id="pic1" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Testing in Progress</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage2()" name="pic2" id="pic2" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Testing is Complete</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage3()" name="pic3" id="pic3" /><br />
                                </div>
                            </div>
                            <br>
                        </div>

                        <div id="demo2" class="collapse">
                            <div class="row">
                                <h1 class="text-center">Test #1236</h1>
                                <div class="col-md-3">
                                    <h5 class="text-center">Work Order Recieved</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage()" name="pic" id="pic" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Materials Received</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage1()" name="pic1" id="pic1" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Testing in Progress</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage2()" name="pic2" id="pic2" /><br />
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-center">Testing is Complete</h5>
                                    <img src="~/Content/img/single-flask-bw.png" class="img-responsive" onclick="changeImage3()" name="pic3" id="pic3" /><br />
                                </div>
                            </div>
                            <br>
                        </div>

                        <script>
                            var newsrc = "png";
                            function changeImage() {
                                if (newsrc == "png") {
                                    document.images["pic"].src = '/Content/img/single-flask-bw.png';
                                    document.images["pic"].alt = '/Content/img/single-flask-bw.png';
                                    newsrc = "gif";
                                }
                                else {
                                    document.images["pic"].src = '/Content/img/single-flask-cropped.gif';
                                    document.images["pic"].alt = '/Content/img/single-flask-cropped.gif';
                                    newsrc = "png";
                                }
                            }
                            var newsrc1 = "png";
                            function changeImage1() {
                                if (newsrc1 == "png") {
                                    document.images["pic1"].src = '/Content/img/single-flask-bw.png';
                                    document.images["pic1"].alt = '/Content/img/single-flask-bw.png';
                                    newsrc1 = "gif";
                                }
                                else {
                                    document.images["pic1"].src = '/Content/img/single-flask-cropped.gif';
                                    document.images["pic1"].alt = '/Content/img/single-flask-cropped.gif';
                                    newsrc1 = "png";
                                }
                            }
                            var newsrc2 = "png";
                            function changeImage2() {
                                if (newsrc2 == "png") {
                                    document.images["pic2"].src = '/Content/img/single-flask-bw.png';
                                    document.images["pic2"].alt = '/Content/img/single-flask-bw.png';
                                    newsrc2 = "gif";
                                }
                                else {
                                    document.images["pic2"].src = '/Content/img/single-flask-cropped.gif';
                                    document.images["pic2"].alt = '/Content/img/single-flask-cropped.gif';
                                    newsrc2 = "png";
                                }
                            }
                            var newsrc3 = "png";
                            function changeImage3() {
                                if (newsrc3 == "png") {
                                    document.images["pic3"].src = '/Content/img/single-flask-bw.png';
                                    document.images["pic3"].alt = '/Content/img/single-flask-bw.png';
                                    newsrc3 = "gif";
                                }
                                else {
                                    document.images["pic3"].src = '/Content/img/single-flask-cropped.gif';
                                    document.images["pic3"].alt = '/Content/img/single-flask-cropped.gif';
                                    newsrc3 = "png";
                                }
                            }

                            function close_me() {
                                document.getElementById("myModal2").style.visibility = "hidden";
                            }

                            function show_me() {
                                document.getElementById("myModal2").style.visibility = "initial";
                            }

                            function update_price() {
                                var textnode = document.createTextNode(" Price has been updated!")
                                document.getElementById("priceupdate").appendChild(textnode);
                            }

                        </script>

                        <table>
                            <tr>
                                <th>Order Number</th>
                                <th>Date Test Submitted</th>
                                <th>Assay ID</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>#1234</td>
                                <td>12/01/17</td>
                                <td>50</td>
                                <td><button type="button" class="btn btn-info btn-block">Update Price</button></td>
                                <td><button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#demo">Update Status</button></td>
                            </tr>
                            <tr>
                                <td>#1235</td>
                                <td>12/04/17</td>
                                <td>94</td>
                                <td><button type="button" class="btn btn-info btn-block">Update Price</button></td>
                                <td><button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#demo1">Update Status</button></td>
                            </tr>
                            <tr>
                                <td>#1236</td>
                                <td>12/07/17</td>
                                <td>67</td>
                                <td><a data-toggle="modal" href="#myModal3"><button type="button" class="btn btn-info btn-block" onclick="close_me()">Update Price</button></a></td>
                                <td><button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#demo2">Update Status</button></td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-tracking">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="show_me()" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Orders Assigned to You</h4>
                    </div>

                    <div class="modal-body">
                        <!--Order Number, Date Test Submitted, Assay-->
                        
                            <div class="row">
                                <h1 class="text-center">Test #1236</h1>
                            </div>
                            <h6 class="text-center" >Update price to: <input class="text-center" type="text" id="fname" name="firstname" placeholder="Price change" onclick="update_complete()"><button onclick="update_price()">Submit</button></h6> 
                            <p id="priceupdate" class="text-center"></p>
                            </div>
     
                    </div><!-- /.modal-content -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="show_me()" >Close</button>
                    </div>
                
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
           

    </div><!--row-->
</div><!--container-->



